:root {
    /** CSS DARK THEME PRIMARY COLORS */  
    --color-primary-100:  #ffffff;
    --color-primary-200:  #f6f6f6;
    --color-primary-300:  #7a5af5;
    --color-primary-400:  #ffffff;
    --color-primary-500:  #a688fa;
    --color-primary-600:  #ba9ffb;  
    /** CSS DARK THEME SURFACE COLORS */ 
    --color-surface-100:  #121212;
    --color-surface-200:  #282828;
    --color-surface-300:  #3f3f3f;
    --color-surface-400:  #575757;
    --color-surface-500:  #717171;
    --color-surface-600:  #8b8b8b;  
    /** CSS DARK THEME MIXED SURFACE COLORS */ 
    --color-surface-mixed-100:  #1a1625;
    --color-surface-mixed-200:  #2f2b3a;
    --color-surface-mixed-300:  #46424f;
    --color-surface-mixed-400:  #5e5a66;
    --color-surface-mixed-500:  #76737e;
    --color-surface-mixed-600:  #908d96;
    
    --Background: var(--color-primary-100);
    --Background-second: var(--color-primary-200);
    --Accent-color: var(--color-primary-500);
    --Text-color: var(var(--color-surface-100));
    --Header-Text-color: var(--color-surface-400);
    --Header-Text-color-hover: var(--color-surface-100);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    color: var(--Text-color);
}

h2 {
    text-align: center;
}

h1 {
    font-size: 45px;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;

}

.container {
    display: flex;
    justify-content: space-between;

}

.container > div {
    flex: 1; /* Make each column take equal width */
    margin: 0 60px;
}

.container > div:first-child {
    margin-left: 0; /* No left margin for the first column */
}

.container > div:last-child {
    margin-right: 0; /* No right margin for the last column */
}

.content {
    max-width: 1200px; /* Adjust based on your preference */
    margin: 0 auto;
    padding: 10px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--Background);
    
    padding: 5px;
}

header.scrolled {
    background-color: transparent; /* Change to transparent background on scroll */
    border-bottom-color: rgba(0, 0, 0, 0.5); /* Darker bottom border when scrolled */
}

.separator {
    height: 24px; 
    width: 1px;
    background-color: #d1d5db;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li:first-child {
    margin-right: auto;
}

button {
    border: none;
    border-radius: 10px;
    color: rgb(140, 218, 249);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--Header-Text-color);
    text-align: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
}
nav a:hover {
    color: var(--Header-Text-color-hover);
}
nav a:focus-within {
    color: var(--Header-Text-color-hover);
}

nav ul li:not(:first-child){
    margin-left: 20px;
}

#landing, #education, #contact {
    text-align: left;
}

#about, #skills {
    background-color: var(--Background-second); 
    text-align: right;

}

img {
    width: 500px;
    height: auto;
    float: right;
}
